html{
      height:100%;
}
body{
  display:flex
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
div{
    width:100px;
    height:100px;
    border-top:solid 1px #687291;
    font-family: Tahoma;
    font-size:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
div:nth-child(odd){
    background-color: #dfe1e7;
}
div:nth-child(even){
    background-color: #eeeff2;
}
div:nth-last-child(1){
    background-color: #687291;
    border: solid 4px black;
