html{
    height:100%;
}
body{
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
div{
    width:100px;
    height:150px;
    background-color:#eeeff2;
    border-left:10px;
    border-left-style:dotted;
    border-left-color:#D0D0FF;
    margin-right:10px;
    font-family: Tahoma;
    font-size:40px;
    padding-left:10px;

}
div :hover{
    cursor:pointer;
    background-color: yellow;
    color: goldenrod;
}
div:nth-last-child(1){
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
